<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="{{ site.baseurl }}/assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="{{ site.baseurl }}/assets/js/jqBootstrapValidation.js"></script>
	  <script src="{{ site.baseurl }}/assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="{{ site.baseurl }}/assets/js/agency.min.js"></script>
	  <!-- Parse the Latex divs with Katex-->
	  <script type="text/javascript">
	    $("script[type='math/tex']").replaceWith(
	      function(){
	        var tex = $(this).text();
	        return katex.renderToString(tex, {displayMode: false});
	    });
            
	    $("script[type='math/tex; mode=display']").replaceWith(
	      function(){
	        var tex = $(this).text();
	        return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
	    });
	  </script>
  </body>
</html>
